 body {
      padding: 40px;
      background-color: #6A7152;
      color: #FBFFF1;
    }
 head {
      font-family: "Times New Roman", Times, serif;
    }
 h2 {
     font-family: sans-serif;
     text-decoration: underline;
   }
